Package: com.fujb.2009
Name: Notification26
Depends: mobilesubstrate, preferenceloader
Description: Test animation thông báo
Maintainer: Phúc sieu cap cu to
Author: fujb2009
Section: Tweaks
Architecture: iphoneos-arm64
Version: 1.1.0-1
